<%- include ("header") %>


<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Work+Sans:300,400,700" rel="stylesheet">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/aos.css">
<link rel="stylesheet" href="/css/loisir2.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/fontawesome.min.css"
    integrity="sha256-0mlw4Ae1j9eDzZTzLuw5X9fBCL9nAehrtVyKfIstZQA=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
    integrity="sha256-zmfNZmXoNWBMemUOo1XUGFfc0ihGGLYdgtJS3KCr/l0=" crossorigin="anonymous" />



    <div class="site-wrap">
        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->






        <div class="site-section bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                        <h2 class="mb-5">Our Hotels</h2>
                    </div>
                </div>
                <% for (var i=0;i< loisir.length;i++) {%>
                    <% if(loisir[i].nameH) {%>
                <div class="row">
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="hotel-room text-center"><a href="#" class="d-block mb-0 thumbnail"><img src="uploads/<%= loisir[i].pathH %>" alt="Image"
                            class="img-fluid" style="height: 241px;"></a>


                            <div class="hotel-room-body">
                                <h3 class="heading mb-0"><a href="#"><%= loisir[i].nameH %></a></h3>
                                <strong class="price"><%= loisir[i].prix %></strong>
                                <div class="bottom d-flex mt-15">
                                    <ul class="list">
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="far fa-star"></i></a>
                                        </li>
                                    </ul>

                                    <p class="ml-20"><%= loisir[i].avis %> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%} else {%>
                    </p></p>
                    <%}%>

                <% }%>

                </div>
            </div>
        </div>


        <div class="site-section bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                        <h2 class="mb-5">Our Agences</h2>

                        <h3>Vols au départ de Alger vers Arabie saoudite</h3>
                    </div>
                </div>

                <div class="row">
                    <% for (var i=0;i< loisir.length;i++) {%>
                        <% if(loisir[i].nameP !=="") {%>
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="hotel-room text-center">
                            <a href="#" class="d-block mb-0 thumbnail"><img src="uploads/<%= loisir[i].pathA%>" alt="Image"
                                    class="img-fluid"></a>
                            <h2 class="prix"><%= loisir[i].prixA %></h2>
                            <div class="hotel-room-body">
                                <h3 class="heading mb-0"><a href="#">Vols de Alger à Arabie saoudite</a></h3>
                                <strong class="price"><%= loisir[i].dscA %></strong>
                            </div>
                        </div>
                    </div>
                    <%}%>

                    <% }%>

                </div>
            </div>
        </div>

    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var mediaElements = document.querySelectorAll('video, audio'), total = mediaElements.length;

            for (var i = 0; i < total; i++) {
                new MediaElementPlayer(mediaElements[i], {
                    pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                    shimScriptAccess: 'always',
                    success: function () {
                        var target = document.body.querySelectorAll('.player'), targetTotal = target.length;
                        for (var j = 0; j < targetTotal; j++) {
                            target[j].style.visibility = 'visible';
                        }
                    }
                });
            }
        });
    </script>


<%- include ("footer") %>
